<!-- <div class="card"> -->
<!-- <div class="card-body"> -->
<app-search-header
  (itemsSelected)="onItemsSelected($event)"
  [noDataText]="noDataText"
  [searchPlaceholderText]="searchPlaceholderText"
></app-search-header>
<!-- </div> -->
<!-- </div> -->

<div class="footer d-flex flex-row-reverse align-middle">
  <!-- <div
    class="btn-gr1oup c1ol-12 p-3 w-25 d-flex flex-row-reverse"
    role="group1"
  > -->
  <div>
    <button
      class="btn btn-outline-secondary m-2"
      type="button"
      (click)="onCancel()"
    >
      Cancel
    </button>
    <button
      class="btn btn-primary"
      type="button"
      (click)="onOk()"
      cdkFocusInitial
    >
      Select
    </button>
  </div>
  <!-- </div> -->
</div>
